@model IEnumerable<PennyApp.Data.Trade>
@{
    ViewBag.Title = "Result";
}
<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    tr:nth-child(odd) {
        background-color: #eee;
    }
</style>

<!DOCTYPE html>
<title>
    PennyApp - Result
</title>

<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<table>
    <tr>
        <th>Date</th>
        <th>Ticker</th>
        <th>Amount</th>
        <th>Entry Px</th>
        <th>Exit1</th>
        <th>Exit2</th>
        <th>Exit3</th>
        <th>Exit4</th>
        <th>Exit5</th>
        <th>Exit6</th>
        <th>Exit7</th>
        <th>Exit8</th>
        <th>Exit9</th>
        <th>Price Now</th>
        <th>Realized</th>
        <th>Unrealized</th>
        <th>Total Gain</th>
        <th>OHLC</th>
        <th>Eq.Curve</th>
    </tr>
    @foreach (var model in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => model.Date)</td>
            <td>@Html.DisplayFor(modelItem => model.Ticker)</td>
            <td>@Html.DisplayFor(modelItem => model.Amout)</td>
            <td>@Html.DisplayFor(modelItem => model.Entry_price)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext1)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext2)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext3)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext4)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext5)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext6)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext7)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext8)</td>
            <td>@Html.DisplayFor(modelItem => model.Ext9)</td>
            <td>@Html.DisplayFor(modelItem => model.Price_Now)</td>
            <td>@Html.DisplayFor(modelItem => model.Realized)</td>
            <td>@Html.DisplayFor(modelItem => model.unrealized)</td>
            <td>@Html.DisplayFor(modelItem => model.Total_Gain)</td>
            <th><button type="button" class="btn btn-info" id="Penny" onclick="location.href='@Url.Action("OHLC", "Home", new {ticker= model.Ticker})';return false;">Show</button></th>
            <th><button type="button" class="btn btn-info" id="Equity" onclick="location.href='@Url.Action("Equitycurve", "Home", new {ticker= model.Ticker})';return false;">Show</button></th>
        </tr>
    }
</table>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
@*<script>
        $('#Penny').click(function () {
            document.location = '@Url.Action("Index","Home")';
        });

            $('#Penny1').click(function () {
            document.location = '@Url.Action("Index","Home")';
            });

            $('#Penny2').click(function () {
            document.location = '@Url.Action("Index","Home")';
            });

            $('#Penny3').click(function () {
            document.location = '@Url.Action("Index","Home")';
            });

               $('#Penny4').click(function () {
            document.location = '@Url.Action("Index","Home")';
            });

        $('#Equity').click(function () {
            document.location = '@Url.Action("Equitycurve","Home")'
        });

        var a = document.getElementById("Penny").nodeValue;
    </script>*@